<form [formGroup]="form" (submit)="submit()">
    <div class="mb-3">
      <label>Tenant User Id</label>
      <input class="form-control" name="tenant_user_id" formControlName="tenant_user_id">
    </div>
    <div class="mb-3">
      <label>Tenant App Id</label>
      <input class="form-control" name="tenant_app_id" formControlName="tenant_app_id">
    </div>
    <div class="mb-3">
      <label>Tenant User App Permission</label>
      <input class="form-control" name="tenant_user_app_permissions" formControlName="tenant_user_app_permissions">
    </div>

    <button class="btn btn-outline-secondary">Save</button>
  </form>