<form [formGroup]="form" (submit)="submit()">
    <div class="mb-3">
      <label>Role Id</label>
      <input class="form-control" name="role_id" formControlName="role_id">
    </div>
    <div class="mb-3">
      <label>App Id</label>
      <input class="form-control" name="app_id" formControlName="app_id">
    </div>
    <div class="mb-3">
        <label>App Role Permission</label>
        <input class="form-control" name="app_id" formControlName="app_id">
      </div>


    <button class="btn btn-outline-secondary">Save</button>
  </form>