<p>tenant-user works!</p>
<div class="pt-3 pb-2 mb-3 border-bottom">
    <a routerLink="/tenantUsers/create" class="btn btn-sm btn-outline-secondary">Add</a>
  </div>
  
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
      <tr>

      
        
        <th>#</th>      
        <th>Tenant Id</th>
        <th>User Id</th>
        <th>Identity Provider Suscriber Id</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let tenantUser of tenantUser">
        <td>{{tenantUser.Id}}</td>
        <td>{{tenantUser.tenant_id}}</td>
        <td>{{tenantUser.user_id}}</td>
        <td>{{tenantUser.identity_provider_subscriber_id}}</td>
        <td>
           <div class="btn-group mr-2">
            <a [routerLink]="['/tenantUsers', tenantUser.Id, 'edit']" class="btn btn-sm btn-outline-secondary">Edit</a>
            <a href="javascript:void(0)" class="btn btn-sm btn-outline-secondary"
               (click)="delete(tenantUser.Id)"
            >Delete</a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  
  <!-- <app-paginator
    [lastPage]="lastPage"
    (pageChanged)="load($event)"
  ></app-paginator> -->
  