<div class="pt-3 pb-2 mb-3 border-bottom">
    <a routerLink="/clients/create" class="btn btn-sm btn-outline-secondary">Add</a>
  </div>
  
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
      <tr>                                                    
        
        <th>#</th>      
        <th>Address Id</th>
        <th>Start Date</th>
        <th>Expiry Date</th>
        <th>Client Key</th>
        <th>Client Name</th>
        <th>Description</th>
        <th>Contact Id</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let client of clients">
        <td>{{client.Id}}</td>
        <td>{{client.address_id}}</td>
        <td>{{client.start_date}}</td>
        <td>{{client.expiry_date}}</td>
        <td>{{client.client_key}}</td>
        <td>{{client.client_name}}</td>
        <td>{{client.description}}</td>
        <td>{{client.contact_id}}</td>
        <td>
           <div class="btn-group mr-2">
            <a [routerLink]="['/clients', client.Id, 'edit']" class="btn btn-sm btn-outline-secondary">Edit</a>
            <a href="javascript:void(0)" class="btn btn-sm btn-outline-secondary"
               (click)="delete(client.Id)"
            >Delete</a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  
  <!-- <app-paginator
    [lastPage]="lastPage"
    (pageChanged)="load($event)"
  ></app-paginator> -->
