<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">Dashboard</a>
      </li>
      <li class="nav-item">
        <a routerLink="/users" routerLinkActive="active" class="nav-link">Users</a>
      </li>
      <li class="nav-item">
        <a routerLink="/clients" routerLinkActive="active" class="nav-link">Clients</a>
      </li>
      <li class="nav-item">
        <a routerLink="/roles" routerLinkActive="active" class="nav-link">Roles</a>
      </li>

      <li class="nav-item">
        <a routerLink="/tenants" routerLinkActive="active" class="nav-link">Tenant</a>
      </li>

      <li class="nav-item">
        <a routerLink="/tenantUsers" routerLinkActive="active" class="nav-link">Tenant Users</a>
      </li>
      <li class="nav-item">
        <a routerLink="/tenantUserApps" routerLinkActive="active" class="nav-link">Tenant User Apps</a>
      </li>

      <li class="nav-item">
        <a routerLink="/tenantUserAppRoles" routerLinkActive="active" class="nav-link">Tenant User Apps Roles</a>
      </li>

      <li class="nav-item">
        <a routerLink="/tenantUserAppAlerts" routerLinkActive="active" class="nav-link">Tenant User Apps Alerts</a>
      </li>

      <li class="nav-item">
        <a routerLink="/tenantApps" routerLinkActive="active" class="nav-link">Tenant Apps</a>
      </li>

      <li class="nav-item">
        <a routerLink="/tenantAppFeatures" routerLinkActive="active" class="nav-link">Tenant App Features</a>
      </li>

      
      <li class="nav-item">
        <a routerLink="/features" routerLinkActive="active" class="nav-link">Features</a>
      </li>

       
      <li class="nav-item">
        <a routerLink="/featurePermissions" routerLinkActive="active" class="nav-link">Features Permissions</a>
      </li>

             
      <li class="nav-item">
        <a routerLink="/apps" routerLinkActive="active" class="nav-link">Apps</a>
      </li>

      <li class="nav-item">
        <a routerLink="/appRoles" routerLinkActive="active" class="nav-link">App Roles</a>
      </li>
      <li class="nav-item">
        <a routerLink="/appMessages" routerLinkActive="active" class="nav-link">App Messages</a>
      </li>
    </ul>

    
  </div>
</nav>